
<!DOCTYPE html>
<html>
<script>
function includeHTML() {
  var z, i, elmnt, file, xhttp;
  /*loop through a collection of all HTML elements:*/
  z = document.getElementsByTagName("*");
  for (i = 0; i < z.length; i++) {
    elmnt = z[i];
    /*search for elements with a certain atrribute:*/
    file = elmnt.getAttribute("w3-include-html");
    if (file) {
      /*make an HTTP request using the attribute value as the file name:*/
      xhttp = new XMLHttpRequest();
      xhttp.onreadystatechange = function() {
        if (this.readyState == 4) {
          if (this.status == 200) {elmnt.innerHTML = this.responseText;}
          if (this.status == 404) {elmnt.innerHTML = "Page not found.";}
          /*remove the attribute, and call this function once more:*/
          elmnt.removeAttribute("w3-include-html");
          includeHTML();
        }
      }      
      xhttp.open("GET", file, true);
      xhttp.send();
      /*exit the function:*/
      return;
    }
  }
};
</script>
<body>

<div w3-include-html="https://yayanheeh.github.io/garangan-bootstrap/header.html"></div> 
<div class="list-group list-group-flush">                          <section class="documentation">
                            <!--Section: Intro-->
<section id="introduction">

  <!--Title-->
  <h2 class="primary-heading">Alerts</h2>

  <h1 class="secondary-heading mb-4">Bootstrap Alerts</h1>

  <!--Description-->
  <p>Bootstrap alerts are feedback messages that are displayed after specific actions performed by the user. The length of the text is unlimited.</p>

  <p>With the right use of colors, they add some emotional weight to our information, ranging from a simple warning to a critical system failure or from an operation successful message to a piece of neutral information.</p>

  <div class="py-2">
    <p class="border border-danger p-3 mb-0"><strong><span class="font-weight-bold">Additional resources:</span> please have a look at our tutorial about <a href="https://mdbootstrap.com/web-push-start/" target="_blank">Web Push alerts</a></strong></p>
  </div>

  <hr class="my-4">

  <!--Title-->
  <h2 class="secondary-heading mb-3">
    Basic examples
  </h2>

  <!--Description-->
  <p class="mb-4">Alerts are available for any text length, as well as an optional dismiss button. For proper styling, use one of the eight required contextual classes (e.g., <code>.alert-success</code>). For inline dismissal, then use the <a href="">alerts jQuery plugin</a>.</p>

  <!--Section: Live preview-->
  <section>

    <div class="alert alert-primary" role="alert">
      A simple primary alert—check it out!
    </div>
    <div class="alert alert-secondary" role="alert">
      A simple secondary alert—check it out!
    </div>
    <div class="alert alert-success" role="alert">
      A simple success alert—check it out!
    </div>
    <div class="alert alert-danger" role="alert">
      A simple danger alert—check it out!
    </div>
    <div class="alert alert-warning" role="alert">
      A simple warning alert—check it out!
    </div>
    <div class="alert alert-info" role="alert">
      A simple info alert—check it out!
    </div>
    <div class="alert alert-light" role="alert">
      A simple light alert—check it out!
    </div>
    <div class="alert alert-dark" role="alert">
      A simple dark alert—check it out!
    </div>

  </section>
  <!--Section: Live preview-->

  <!--Section: Code-->
  <section>
    <!-- mdbsnippet --><div class="docs-pills">  <div class="d-flex justify-content-between">    <ul class="nav md-pills pills-grey"><li class="nav-item"><a class="nav-link active show" data-toggle="tab" href="#mdb_b6e97d8b213efb48c69275d13dd96dd6" role="tab">HTML</a></li></ul></div><div class="tab-content"><div class="tab-pane fade active show" id="mdb_b6e97d8b213efb48c69275d13dd96dd6" role="tabpanel"><pre class="grey lighten-3 px-3 mb-0 line-numbers language-html" ><code>

        &lt;div class=&quot;alert alert-primary&quot; role=&quot;alert&quot;&gt;
          A simple primary alert&mdash;check it out!
        &lt;/div&gt;
        &lt;div class=&quot;alert alert-secondary&quot; role=&quot;alert&quot;&gt;
          A simple secondary alert&mdash;check it out!
        &lt;/div&gt;
        &lt;div class=&quot;alert alert-success&quot; role=&quot;alert&quot;&gt;
          A simple success alert&mdash;check it out!
        &lt;/div&gt;
        &lt;div class=&quot;alert alert-danger&quot; role=&quot;alert&quot;&gt;
          A simple danger alert&mdash;check it out!
        &lt;/div&gt;
        &lt;div class=&quot;alert alert-warning&quot; role=&quot;alert&quot;&gt;
          A simple warning alert&mdash;check it out!
        &lt;/div&gt;
        &lt;div class=&quot;alert alert-info&quot; role=&quot;alert&quot;&gt;
          A simple info alert&mdash;check it out!
        &lt;/div&gt;
        &lt;div class=&quot;alert alert-light&quot; role=&quot;alert&quot;&gt;
          A simple light alert&mdash;check it out!
        &lt;/div&gt;
        &lt;div class=&quot;alert alert-dark&quot; role=&quot;alert&quot;&gt;
          A simple dark alert&mdash;check it out!
        &lt;/div&gt;

      </pre></code></div></div></div><!-- /.mdbsnippet -->
  </section>
  <!--Section: Code-->

  <blockquote class="blockquote bq-warning mt-5">
    <p class="bq-title">Conveying meaning to assistive technologies</p>
    <p>Using color to add meaning only provides a visual indication that will not be conveyed to users of assistive technologies – such as screen readers. So to should ensure that any information denoted by the color is either obvious from the content itself (e.g. the visible text), or is included through alternative means, such as additional text hidden with the <code>.sr-only</code> class.
    </p>
  </blockquote>

</section>
<!--/Section: Intro-->

<hr class="my-5">

<!--Section: -->
<section id="link">

  <!--Title-->
  <h2 class="section-heading">
    Link color
  </h2>

  <!--Description-->
  <p class="mb-4">Use the <code>.alert-link</code> utility class to quickly provide matching colored links within any alert.</p>

  <!--Section: Live preview-->
  <section>

    <div class="alert alert-primary" role="alert">
      A simple primary alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
    </div>
    <div class="alert alert-secondary" role="alert">
      A simple secondary alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
    </div>
    <div class="alert alert-success" role="alert">
      A simple success alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
    </div>
    <div class="alert alert-danger" role="alert">
      A simple danger alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
    </div>
    <div class="alert alert-warning" role="alert">
      A simple warning alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
    </div>
    <div class="alert alert-info" role="alert">
      A simple info alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
    </div>
    <div class="alert alert-light" role="alert">
      A simple light alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
    </div>
    <div class="alert alert-dark" role="alert">
      A simple dark alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
    </div>

  </section>
  <!--Section: Live preview-->

  <!--Section: Code-->
  <section>
    <!-- mdbsnippet --><div class="docs-pills">  <div class="d-flex justify-content-between">    <ul class="nav md-pills pills-grey"><li class="nav-item"><a class="nav-link active show" data-toggle="tab" href="#mdb_3154b194438ae587671ca4c6b727f0c4" role="tab">HTML</a></li></ul></div><div class="tab-content"><div class="tab-pane fade active show" id="mdb_3154b194438ae587671ca4c6b727f0c4" role="tabpanel"><pre class="grey lighten-3 px-3 mb-0 line-numbers language-html" ><code>

        &lt;div class=&quot;alert alert-primary&quot; role=&quot;alert&quot;&gt;
          A simple primary alert with &lt;a href=&quot;#&quot; class=&quot;alert-link&quot;&gt;an example link&lt;/a&gt;. Give it a click if you like.
        &lt;/div&gt;
        &lt;div class=&quot;alert alert-secondary&quot; role=&quot;alert&quot;&gt;
          A simple secondary alert with &lt;a href=&quot;#&quot; class=&quot;alert-link&quot;&gt;an example link&lt;/a&gt;. Give it a click if you like.
        &lt;/div&gt;
        &lt;div class=&quot;alert alert-success&quot; role=&quot;alert&quot;&gt;
          A simple success alert with &lt;a href=&quot;#&quot; class=&quot;alert-link&quot;&gt;an example link&lt;/a&gt;. Give it a click if you like.
        &lt;/div&gt;
        &lt;div class=&quot;alert alert-danger&quot; role=&quot;alert&quot;&gt;
          A simple danger alert with &lt;a href=&quot;#&quot; class=&quot;alert-link&quot;&gt;an example link&lt;/a&gt;. Give it a click if you like.
        &lt;/div&gt;
        &lt;div class=&quot;alert alert-warning&quot; role=&quot;alert&quot;&gt;
          A simple warning alert with &lt;a href=&quot;#&quot; class=&quot;alert-link&quot;&gt;an example link&lt;/a&gt;. Give it a click if you like.
        &lt;/div&gt;
        &lt;div class=&quot;alert alert-info&quot; role=&quot;alert&quot;&gt;
          A simple info alert with &lt;a href=&quot;#&quot; class=&quot;alert-link&quot;&gt;an example link&lt;/a&gt;. Give it a click if you like.
        &lt;/div&gt;
        &lt;div class=&quot;alert alert-light&quot; role=&quot;alert&quot;&gt;
          A simple light alert with &lt;a href=&quot;#&quot; class=&quot;alert-link&quot;&gt;an example link&lt;/a&gt;. Give it a click if you like.
        &lt;/div&gt;
        &lt;div class=&quot;alert alert-dark&quot; role=&quot;alert&quot;&gt;
          A simple dark alert with &lt;a href=&quot;#&quot; class=&quot;alert-link&quot;&gt;an example link&lt;/a&gt;. Give it a click if you like.
        &lt;/div&gt;

      </pre></code></div></div></div><!-- /.mdbsnippet -->
  </section>
  <!--Section: Code-->

</section>
<!--Section: -->

<hr class="my-5">

<!--Section: -->
<section id="additional">

  <!--Title-->
  <h2 class="section-heading">
    Additional content
  </h2>

  <!--Description-->
  <p class="mb-4">Alerts can also contain additional HTML elements like headings, paragraphs and dividers.</p>

  <!--Section: Live preview-->
  <section>

    <div class="alert alert-success" role="alert">
      <h4 class="alert-heading">Well done!</h4>
      <p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.</p>
      <hr>
      <p class="mb-0">Whenever you need to, be sure to use the margin utilities to keep things nice and tidy.</p>
    </div>

  </section>
  <!--Section: Live preview-->

  <!--Section: Code-->
  <section>
    <!-- mdbsnippet --><div class="docs-pills">  <div class="d-flex justify-content-between">    <ul class="nav md-pills pills-grey"><li class="nav-item"><a class="nav-link active show" data-toggle="tab" href="#mdb_39f605a05d559f96009dac06b2a89073" role="tab">HTML</a></li></ul></div><div class="tab-content"><div class="tab-pane fade active show" id="mdb_39f605a05d559f96009dac06b2a89073" role="tabpanel"><pre class="grey lighten-3 px-3 mb-0 line-numbers language-html" ><code>

        &lt;div class=&quot;alert alert-success&quot; role=&quot;alert&quot;&gt;
          &lt;h4 class=&quot;alert-heading&quot;&gt;Well done!&lt;/h4&gt;
          &lt;p&gt;Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.&lt;/p&gt;
          &lt;hr&gt;
          &lt;p class=&quot;mb-0&quot;&gt;Whenever you need to, be sure to use margin utilities to keep things nice and tidy.&lt;/p&gt;
        &lt;/div&gt;

      </pre></code></div></div></div><!-- /.mdbsnippet -->
  </section>
  <!--Section: Code-->

</section>
<!--Section: -->

<hr class="my-5">

<!--Section: -->
<section id="dismissing">

  <!--Title-->
  <h2 class="section-heading">
    Dismissing
  </h2>

  <!--Description-->
  <p class="mb-4">Using the alert JavaScript plugin, it’s possible to dismiss any alert inline. Here’s how:</p>

  <ul class="mb-4">
    <li>Be sure you’ve loaded the alert plugin, or the compiled Bootstrap JavaScript.</li>
    <li>If you’re building our JavaScript from source, it requires <code>util.js</code>. The compiled version includes this.</li>
    <li>Add a dismiss button and the <code>.alert-dismissible</code> class, which adds extra padding to the right of the alert and positions the <code>.close</code> button.</li>
    <li>On the dismiss button, add the <code>data-dismiss="alert"</code> attribute, which triggers the JavaScript functionality. Be sure to use the <code>&lt;button&gt;</code> element with it for proper behavior across all devices.</li>
    <li>To animate alerts when dismissing them, be sure to add the <code>.fade</code> and <code>.show</code> classes.</li>
  </ul>

  <p class="mb-4">You can see this in action with a live demo:</p>

  <!--Section: Live preview-->
  <section>

    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <strong>Holy guacamole!</strong> You should check in on some of those fields below.
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

  </section>
  <!--Section: Live preview-->

  <!--Section: Code-->
  <section>
    <!-- mdbsnippet --><div class="docs-pills">  <div class="d-flex justify-content-between">    <ul class="nav md-pills pills-grey"><li class="nav-item"><a class="nav-link active show" data-toggle="tab" href="#mdb_d966beff469c5a752d35d70c98a06b86" role="tab">HTML</a></li></ul></div><div class="tab-content"><div class="tab-pane fade active show" id="mdb_d966beff469c5a752d35d70c98a06b86" role="tabpanel"><pre class="grey lighten-3 px-3 mb-0 line-numbers language-html" ><code>

        &lt;div class=&quot;alert alert-warning alert-dismissible fade show&quot; role=&quot;alert&quot;&gt;
          &lt;strong&gt;Holy guacamole!&lt;/strong&gt; You should check in on some of those fields below.
          &lt;button type=&quot;button&quot; class=&quot;close&quot; data-dismiss=&quot;alert&quot; aria-label=&quot;Close&quot;&gt;
            &lt;span aria-hidden=&quot;true&quot;&gt;&amp;times;&lt;/span&gt;
          &lt;/button&gt;
        &lt;/div&gt;

      </pre></code></div></div></div><!-- /.mdbsnippet -->
  </section>
  <!--Section: Code-->

</section>
<!--Section: -->

<hr class="my-5">

<!-- Section: Javascript behavior -->
<section>

  <!--Title-->
  <h2 class="h1 mb-5">
    JavaScript behavior
  </h2>

  <!-- Section: Triggers -->
  <section id="triggers">

    <!--Title-->
    <h2 class="section-heading">
      Triggers
    </h2>

    <!--Description-->
    <p class="mb-4">Enable dismissal of an alert via JavaScript:</p>

    <!--Section: Code-->
    <section>
      <!-- mdbsnippet --><div class="docs-pills">  <div class="d-flex justify-content-between">    <ul class="nav md-pills pills-grey"><li class="nav-item"><a class="nav-link active show" data-toggle="tab" href="#mdb_dfbe2d942bf91a85d2bb529f1efeccee" role="tab">JavaScript</a></li></ul></div><div class="tab-content"><div class="tab-pane fade active show" id="mdb_dfbe2d942bf91a85d2bb529f1efeccee" role="tabpanel"><pre class="grey lighten-3 px-3 mb-0 line-numbers language-js" ><code>

          $('.alert').alert()

        </pre></code></div></div></div><!-- /.mdbsnippet -->
    </section>
    <!--Section: Code-->

    <p class="my-5">Or with <code>data</code> attributes on a button <strong>within the alert</strong>, as demonstrated above:</p>

    <!--Section: Code-->
    <section>
      <!-- mdbsnippet --><div class="docs-pills">  <div class="d-flex justify-content-between">    <ul class="nav md-pills pills-grey"><li class="nav-item"><a class="nav-link active show" data-toggle="tab" href="#mdb_788fb1aa840785fade983c591eaad696" role="tab">HTML</a></li></ul></div><div class="tab-content"><div class="tab-pane fade active show" id="mdb_788fb1aa840785fade983c591eaad696" role="tabpanel"><pre class="grey lighten-3 px-3 mb-0 line-numbers language-html" ><code>

          &lt;button type=&quot;button&quot; class=&quot;close&quot; data-dismiss=&quot;alert&quot; aria-label=&quot;Close&quot;&gt;
            &lt;span aria-hidden=&quot;true&quot;&gt;&amp;times;&lt;/span&gt;
          &lt;/button&gt;

        </pre></code></div></div></div><!-- /.mdbsnippet -->
    </section>
    <!--Section: Code-->

    <p>Note that closing an alert will remove it from the DOM.</p>

  </section>
  <!-- Section: Triggers -->

  <hr class="my-5">

  <!-- Section: Methods -->
  <section id="methods">

    <!--Title-->
    <h2 class="section-heading">
      Methods
    </h2>

    <table class="table table-bordered border-top">
      <thead>
        <tr>
          <th>Method</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><code>$().alert()</code></td>
          <td>Makes an alert listen for click events on descendant elements which have the <code>data-dismiss="alert"</code> attribute. (Not necessary when using the data-api’s auto-initialization.)</td>
        </tr>
        <tr>
          <td><code>$().alert('close')</code></td>
          <td>Closes an alert by removing it from the DOM. If the <code>.fade</code> and <code>.show</code> classes are present on the element, the alert will fade out before it is removed.</td>
        </tr>
        <tr>
          <td><code>$().alert('dispose')</code></td>
          <td>Destroys an element’s alert.</td>
        </tr>
      </tbody>
    </table>

    <!--Section: Code-->
    <section>
      <!-- mdbsnippet --><div class="docs-pills">  <div class="d-flex justify-content-between">    <ul class="nav md-pills pills-grey"><li class="nav-item"><a class="nav-link active show" data-toggle="tab" href="#mdb_f748d4dc7393ca8cc5f740452c9c5e37" role="tab">JavaScript</a></li></ul></div><div class="tab-content"><div class="tab-pane fade active show" id="mdb_f748d4dc7393ca8cc5f740452c9c5e37" role="tabpanel"><pre class="grey lighten-3 px-3 mb-0 line-numbers language-js" ><code>

          $(&quot;.alert&quot;).alert('close')

        </pre></code></div></div></div><!-- /.mdbsnippet -->
    </section>
    <!--Section: Code-->

  </section>
  <!-- Section: Methods -->

  <hr class="my-5">

  <!-- Section: Events -->
  <section id="events">

    <!--Title-->
    <h2 class="section-heading">
      Events
    </h2>

    <!--Description-->
    <p class="mb-4">Bootstrap’s alert plugin exposes a few events for hooking into alert functionality.</p>

    <table class="table table-bordered border-top">
      <thead>
        <tr>
          <th>Event</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><code class="highlighter-rouge">close.bs.alert</code></td>
          <td>This event fires immediately when the <code>close</code> instance method is called.</td>
        </tr>
        <tr>
          <td><code class="highlighter-rouge">closed.bs.alert</code></td>
          <td>This event is fired when the alert has been closed (it will wait for CSS transitions to complete).</td>
        </tr>
      </tbody>
    </table>

    <!--Section: Code-->
    <section>
      <!-- mdbsnippet --><div class="docs-pills">  <div class="d-flex justify-content-between">    <ul class="nav md-pills pills-grey"><li class="nav-item"><a class="nav-link active show" data-toggle="tab" href="#mdb_fa1f113b489fecc05a26694705470858" role="tab">JavaScript</a></li></ul></div><div class="tab-content"><div class="tab-pane fade active show" id="mdb_fa1f113b489fecc05a26694705470858" role="tabpanel"><pre class="grey lighten-3 px-3 mb-0 line-numbers language-js" ><code>

          $('#myAlert').on('closed.bs.alert', function () {
            // do something&hellip;
          })

        </pre></code></div></div></div><!-- /.mdbsnippet -->
    </section>
    <!--Section: Code-->

  </section>
  <!-- Section: Events -->

</section>
<!-- Section: Javascript behavior -->
                          </section>
</div>
<div w3-include-html="https://yayanheeh.github.io/garangan-bootstrap/footer.html"></div> 

<script>
includeHTML();
</script>

</body>
</html>
